@model IEnumerable<Product>

@foreach (var p in Model)
{
    <div class="well">
        <h3>@p.Name</h3>
        <form id="@p.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="@p.ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    Add to Cart
                </button>
        </form>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}